<!doctype html>
<html lang="en">
    {% include 'partials/head.twig' %}  
    <body>
        {% include 'partials/navigation.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                {% if detail.images | length == 1 %}
                    {% for image in detail.images %}
                        <img src="images/products/{{image}}" class="img-fluid">
                    {% endfor %}
                {% else %}
                    <div id="carouselDetail" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in detail.images %}
                                {% set active = (loop.index == 1) ? 'active' : '' %}
                                    <div class="carousel-item {{active}}">
                                        <img src="images/products/{{image}}" class="img-fluid">
                                    </div>
                            {% endfor %}
                        </div>
                    </div>


                {% endif %}
                
                </div>
                <div class="col-md-4">
                    <h3>{{detail.product.name}}</h3>
                    <h5>{{detail.product.price}}</h5>
                    <p>{{detail.product.description}}</p>
                </div>
            </div>
        </div>
        {% include 'partials/footer.twig' %}
    </body>

</html>